body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
  }
  p,
  li {
    font-family: 'PT Serif', serif;
  }

  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    justify-content: center;
    width: 660px;
}

.content-container img {
    width: 100px;

}

.content-container input {
    width: 100%;
    padding: 20px 20px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 5px #888888;
    font-size: 2em;
}

